<dl>
    <dt>App name:</dt>
    <dd><%= app.name %></dd>

    <dt>Repository:</dt>
    <dd><%= app.repo %></dd>

    <dt>Branch:</dt>
    <dd><%= app.branch %></dd>

    <dt>Ruby:</dt>
    <dd><%= app.ruby_version %></dd>

    <dt>Prepare commands:</dt>
    <dd><%= app.prepare_commands %></dd>

    <dt>Start commands:</dt>
    <dd><%= app.start_commands %></dd>

    <dt>Stop commands:</dt>
    <dd><%= app.stop_commands %></dd>
</dl>

<a href="/apps/<%= app.name %>/envs">Edit application environment</a>

<form action="/apps/<%= app.name %>/start" method="post">
    <button>Start</button>
</form>

<form action="/apps/<%= app.name %>/stop" method="post">
    <button>Stop</button>
</form>

<form action="/apps/<%= app.name %>" method="post">
    <input type="hidden" name="_method" value="PUT">
    <button>Deploy</button>
</form>
