<div class="app-action-show">
    <header class="action <%= action[:is_success] ? 'success' : (action[:finished_at] ? 'fail' : 'running') %>">
        <div>
            <a href="/apps/<%= app.name %>" class="app"><%= app.name %></a>

            <span class="date"><%= action[:started_at].strftime('%d %b %Y') %></span>
            <span class="started"><%= action[:started_at].strftime('%H:%M:%S') %></span>&ndash;<span class="finished"><%= action[:finished_at].strftime('%H:%M:%S') %></span>
            <span class="duration"><%= action[:elapsed_time] %>s</span>

            <span class="type"><%= action[:type] %></span>
        </div>

        <div>
            <span class="user"><%= action[:requested_by] %></span>

            <% if app.github? %>
                <a href="https://github.com/<%= app.github %>/commit/<%= action[:revision] %>" class="revision"><%= action[:revision] %></a>
            <% else %>
                <span class="revision"><%= action[:revision] %></span>
            <% end %>

            <span class="number"><%= action[:number] %></span>
        </div>
    </header>
    <ul>
        <% logs.each do |log| %>
        <li>
            <div>
                <%= log[:command] %>
                <%= log[:status] %>
                <%= log[:elapsed_time] %>
            </div>
            <div>
                <%= log[:log] %>
            </div>
        </li>
        <% end %>
    </ul>
</div>
