<dl>
    <dt>App</dt>
    <dd><%= deploy.app.name %></dd>

    <dt>Revision</dt>
    <dd><%= deploy.result[:revision] %></dd>

    <dt>Successful</dt>
    <dd><%= deploy.result[:is_success] ? 'Yes' : 'No' %></dd>

    <dt>Elapsed time</dt>
    <dd><%= deploy.result[:elapsed_time] %></dd>
</dl>

<ul>
    <% deploy.logs.each do |log| %>
    <li>
        <strong><%= log[:command] %></strong>
        <%= log[:log] %>
    </li>
    <% end %>
</ul>
