<div class="app-show">
    <header>
        <div class="name">
            <h2><%= app.name %></h2>
            <a href="/apps/<%= app.name %>/edit" class="edit">Edit</a>
        </div>

        <div class="info">
            <% if app.github? %>
                <a class="repo github" href="https://github.com/<%= app.github %>"><%= app.github %></a>
            <% else %>
                <span class="repo git"><%= app.repo %></span>
            <% end %>

            <span class="branch"><%= app.branch %></span>
        </div>

        <div class="actions">
            <form action="/apps/<%= app.name %>" method="post">
                <input type="hidden" name="_method" value="PUT">
                <button class="button add">Deploy</button>
            </form>

            <form action="/apps/<%= app.name %>/start" method="post">
                <button class="button add">Start</button>
            </form>

            <form action="/apps/<%= app.name %>/stop" method="post">
                <button class="button delete">Stop</button>
            </form>
        </div>
    </header>

    <div class="action-list">
        <table>
            <% log.each do |l| %>
            <tr class="action <%= l[:type] %> <%= l[:is_success] ? 'success' : (l[:finished_at] ? 'fail' : 'running') %>">
                <td class="type"><a href="/apps/<%= app.name %>/actions/<%= l[:id] %>"><span><%= l[:type] %></span></a></td>
                <td class="user"><a href="/apps/<%= app.name %>/actions/<%= l[:id] %>"><%= l[:requested_by] %></a></td>
                <td class="revision"><a href="/apps/<%= app.name %>/actions/<%= l[:id] %>"><%= l[:revision] %></a></td>
                <td class="duration"><a href="/apps/<%= app.name %>/actions/<%= l[:id] %>"><%= l[:elapsed_time].round(2) %>s</a></td>
                <td class="datetime">
                    <a href="/apps/<%= app.name %>/actions/<%= l[:id] %>">
                        <span class="date"><%= l[:started_at].strftime('%d %b %Y') %></span>
                        <span class="time"><%= l[:started_at].strftime('%H:%M:%S') %></span>
                    </a>
                </td>
            </tr>
            <% end %>
        </table>
    </div>
</div>
