<div id="app-action-show">
    <header class="action <%= action[:is_success] ? 'success' : (action[:finished_at] ? 'fail' : 'running') %>">
        <div>
            <a href="/apps/<%= app.name %>" class="app"><%= app.name %></a>

            <span class="date"><%= action[:started_at].strftime('%d %b %Y') %></span>
            <span class="started"><%= action[:started_at].strftime('%H:%M:%S') %></span>&ndash;<span class="finished"><%= action[:finished_at].strftime('%H:%M:%S') %></span>
            <span class="duration"><%= action[:elapsed_time] %>s</span>

            <span class="type"><%= action[:type] %></span>
        </div>

        <div>
            <span class="user"><%= action[:requested_by] %></span>

            <% if app.github? %>
                <a href="https://github.com/<%= app.github %>/commit/<%= action[:revision] %>" class="revision github"><span><%= action[:revision] %></span></a>
            <% else %>
                <span class="revision git"><%= action[:revision] %></span>
            <% end %>

            <span class="number"><%= action[:number] %></span>
        </div>
    </header>
    <ul>
        <% logs.each do |log| %>
        <li class="<%= log[:status] == 0 ? 'success' : 'fail' %>">
            <div class="info">
                <span><%= log[:command] %></span>
                <span class="additional">
                    <span class="duration"><%= log[:elapsed_time] %></span>
                    <span class="status"><%= log[:status] %></span>
                </span>
            </div>
            <div class="log">
                <pre><%= log[:log].strip %></pre>
            </div>
        </li>
        <% end %>
    </ul>
</div>
<script type="text/javascript" src="/js/log-render.js"></script>
<script type="text/javascript" src="/js/action-log.js"></script>
