<div id="index">
    <div id="apps">
        <header>
            <h2>Applications</h2>
            <a href="/apps/create" class="button">Add new</a>
        </header>
        <% apps.each do |app| %>
            <div class="app-short">
                <a href="/apps/<%= app.name %>">
                    <h3><%= app.name %></h3>
                    <% if app.github? %>
                        <span class="repo github"><%= app.github %></span>
                    <% else %>
                        <span class="repo git"><%= app.repo %></span>
                    <% end %>
                    <span class="branch"><%= app.branch %></span>
                </a>
                <form action="/apps/<%= app.name %>" method="post">
                    <input type="hidden" name="_method" value="PUT">
                    <button class="button add">Deploy</button>
                </form>
            </div>
        <% end %>
    </div>
    <div id="actions">
        <h2>Last actions</h2>
        <div class="action-list">
            <table>
                <% actions.each do |l| %>
                <tr class="action <%= l[:type] %> <%= l[:is_success] ? 'success' : (l[:finished_at] ? 'fail' : 'running') %>">
                    <td class="app"><a href="/apps/<%= l[:app_name] %>"><%= l[:app_name] %></a></td>
                    <td class="type"><a href="/apps/<%= l[:app_name] %>/actions/<%= l[:id] %>"><span><%= l[:type] %></span></a></td>
                    <td class="user"><a href="/apps/<%= l[:app_name] %>/actions/<%= l[:id] %>"><%= l[:requested_by] %></a></td>
                    <td class="datetime">
                        <a href="/apps/<%= l[:app_name] %>/actions/<%= l[:id] %>">
                            <span class="date"><%= l[:started_at].strftime('%d %b') %></span>
                            <span class="time"><%= l[:started_at].strftime('%H:%M') %></span>
                        </a>
                    </td>
                </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>
